[Desktop Entry]
Type=Application
Name=Weave
Comment=Keyboard and mouse sharing solution
Exec=weave
Icon=weave
Terminal=false
Categories=Utility;RemoteAccess;
Keywords=keyboard;mouse;sharing;network;share;
